.sponsor-header {
    position: relative;
    width: 100%;
    height: 60vh;
    text-align: right;
    background-color: #212225;
    figure {
        margin: 0;
    }
    @media only screen and (min-width: $tablet) {
        height: 70vh;
    }
    &__logo {
        position: absolute;
        left: 3rem;
        top: 2rem;
        height: 5rem;
    }
    &__hero-image {
        @include hero-image(center);
        background-image: /*linear-gradient(120deg, rgba($primary, 0.5) 0%, rgba($secondary, 0.5) 100%),*/ url(../img/IMAGE_KA_1_mobile.jpg);
        @media only screen and (min-width: $tablet) {
            background-image: /*linear-gradient(120deg, rgba($primary, 0.5) 0%, rgba($secondary, 0.5) 100%),*/ url(../img/IMAGE_KA_1.png);
        }
        filter: grayscale(50%);
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 80%;
        transform: translateX(-50%);
        line-height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1::first-line {
            font-weight: 900;
            @media only screen and (min-width: $tablet) {
                font-weight: 900;
            }
        }
        @media only screen and (min-width: $tablet) {
            width: auto;
            margin: 2rem 5rem;
            left: 5%!important;
            line-height: 5rem; //margin-right: 6rem;
            transform: translateX(0);
        }
        @media only screen and (min-width: $laptop) {
            width: auto;
            left: 5%;
        }
        @media only screen and (min-width: $desktop) {
            width: auto;
            left: 5%;
        }
    }
}