.sponsor-header {
    position: relative;
    width: 100%;
    height: 40vh;
    text-align: right;
    figure {
        margin: 0;
    }
    @media only screen and (min-width: $tablet) {
        height: 70vh;
    }
    &__logo {
        position: absolute;
        left: 3rem;
        top: 2rem;
        height: 5rem;
    }
    &__hero-image {
        @include hero-image(center);
        background-image: linear-gradient(120deg, rgba($primary, 0.5) 0%, rgba($secondary, 0.5) 100%), url(../img/hero-image-mobile.jpg);
        @media only screen and (min-width: $tablet) {
            background-image: linear-gradient(120deg, rgba($primary, 0.5) 0%, rgba($secondary, 0.5) 100%), url(../img/hero-image-desktop.jpg);
        }
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        line-height: 4rem;
        h1::first-line {
            font-weight: 900;
            @media only screen and (min-width: $tablet) {
                font-weight: 900;
            }
        }
        @media only screen and (min-width: $tablet) {
            margin: 2rem 5rem;
            right: 5%!important;
            line-height: 5rem; //margin-right: 6rem;
            transform: translateX(0);
        }
        @media only screen and (min-width: $laptop) {
            left: 60%;
        }
        @media only screen and (min-width: $desktop) {
            left: 65%;
        }
    }
}