.packages {
    ul li {
        padding: 2rem;
        background-image: url('../img/check.png');
        background-repeat: no-repeat;
        padding-left: 5rem;
        padding-top: 0;
    }

    background: $light;
    width: 100%;
    padding: 8rem 0;
    
    &__shift {
        margin-top: -15rem;

        @media only screen and (min-width: $tablet) {
            margin-top: -20rem;
        }
    }
    &__pkg-header {
        position: relative;
        z-index: 2;
        border-radius: 1rem;
        padding: 4rem;
        background-color: $secondary;
        color: $white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        text-align: right;
        

        @media only screen and (min-width: $tablet) {
            margin-left: 5rem;
            width: 50%!important;
        }

        @media only screen and (min-width: $desktop) {
            margin-left: 15rem;
            width: 30%!important;
        }

        &__name-text {
            @include title('Lato', sans-serif, $white, 2rem, 0, 700, none, 1rem, 0, right);
            line-height: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            word-spacing: 1rem;

            @media only screen and (min-width: $tablet) {
                @include title('Lato', sans-serif, $white, 2rem, 0, 700, none, 1rem, 0, right);
                line-height: 2.5rem;
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                word-spacing: 1rem;    
            }
        }
        &__dollar-text {
            @include title('Lato', sans-serif, $white, 3rem, 0, 400, none, 0, 1rem, right);
            display: inline-block;
        }
        &__amount-text {
            @include title('Lato', sans-serif, $white, 6rem, 0, 300, none, 2rem, 0, right);
            padding-bottom: 6rem;
        }
        &__opportunity-text {
            @include title('Lato', sans-serif, rgba($white, 0.7), 1.5rem, 0, 400, none, 1rem, 0, right);
            text-transform: uppercase;
            line-height: 1rem;
            letter-spacing: 0.3rem;
            word-spacing: 0.5rem;
        }
    }

    &__features {
        border-radius: 1rem;
        position: relative;
        padding: 15rem 5rem 5rem 5rem;
        background: $white;
        z-index: 1;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        margin-top: -12rem;

        @media only screen and (min-width: $tablet) {
            margin-left: -10rem;
            margin-top: 0;
            padding: 15rem 5rem 5rem 10rem;
        }

        &__heading {
            @include title('Lato', sans-serif, $secondary, 2rem, 0, 400, none, 0, 0, right);
            line-height: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            word-spacing: 1rem;
            border-bottom: solid $secondary 2px;
            padding-bottom: 2rem;
            margin-bottom: 2rem
        }

        ul {
            vertical-align:middle;
            list-style: none;
        }

        &__hide {
            display: none;
        }
    }
}
