.existing-sponsors {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 25rem;
    grid-auto-flow: row;
    margin: 0 auto;
    padding-bottom: 5rem;
    justify-self: center;

    @media only screen and (min-width: $tablet) {
        grid-auto-columns: 50%;
        grid-auto-rows: 25rem;
        grid-auto-flow: column;
    }
    &__sponsor {
        display: grid;
        grid-auto-columns: 100%;
        grid-auto-rows: 40% 60%;
    
        &__header {
            @include title('Lato', sans-serif, rgba($secondary, 0.6), 1.5rem, 0, 400, none, 0.5rem, 0, left);
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            align-self: start;
            justify-self: center;
        }
        &__logo {
            max-height: 8rem;
            max-width: 12rem;
            align-self: start;
            justify-self: center;
        }
    }
}
