$font-family-base: 'Lato', serif;
$font-size-base: 1.5rem;
$line-height-base: 1.7;

//$primary: #4b443e;
//$secondary: #daa162;

//$light : #f6f4f5; 

//$primary: #333a42;
//$secondary: #d7443f;

//$light : #f1ece9; 
//$lighter: #a6a5a1;


$primary: #022601;
$secondary: #f2811d;

$india-green: #3e5902;

$light : #f1f1ee; 
$lighter: #a6a5a1;

$white: #fff;
$black: #000;

$font-weight-light: 300;
$body-color: $light;

$mobile: '335px';
$tablet: '768px';
$laptop: '992px';
$desktop: '1400px';
$grid-width: 90%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

$hamburger-layer-color: $white;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: 3px;