.schedule {
    margin: 0;
    padding: 4rem 1.5rem;
    background: $white;
    
    @media only screen and (min-width: $desktop) {
        padding: 5rem;
    }
    &__container {
        background: $light;
        position: relative;
        margin-bottom: 0;
        padding: 4rem 2rem 8rem 2rem;
        //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        &__header {
            @include title('Lato', sans-serif, $secondary, 1.5rem, 0, 900, none, 4rem, 5rem, left);
            text-transform: uppercase;
            letter-spacing: 0.3rem;
        }
        &__time {
            @include title('Lato', sans-serif, $primary, 1.5rem, 0, 300, none, 0.75rem, 0, left);
        }
        &__session {
            @include title('Lato', sans-serif, $primary, 1.5rem, 0, 300, none, 0, 0, left);
            border-bottom: solid 1px $primary;
            display: inline-block;
            padding-bottom: .5rem;
        }
        &__speaker {
            @include title('Lato', sans-serif, $primary, 1.5rem, 0, 900, none, 0, 0, left);
            padding-top: 1rem;
        }
        &__credentials {
            @include title('Lato', sans-serif, rgba($primary, 0.6), 1.5rem, 0, 400, none, 0, 0, left);
        }
        &__gap {
            margin-top: 5rem;
        }
    }
}

.time {
    background: url(../img/time.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.5rem;
    margin-right: 1rem;
}

.schedule-list {
    @media only screen and (min-width: $desktop) {
        max-width: 80%;
        margin: auto;
    }
}