.speakers {
    margin: 0;
    padding: 4rem 1.5rem;
    background: $primary;
    @media only screen and (min-width: $desktop) {
        padding: 5rem;
    }
    &__container {
        background: $light;
        margin-bottom: 5rem;
        padding: 4rem 2rem 8rem 2rem;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        &__speaker-list {
            margin: auto;
            &__header {
                @include title('Lato', sans-serif, $secondary, 1.5rem, 0, 900, none, 4rem, 5rem, left);
                text-transform: uppercase;
                letter-spacing: 0.3rem;
            }
            @media only screen and (min-width: $desktop) {
                max-width: 80%;
            }
        }
    }
}

.speaker {
    padding: 4rem 0 5rem 0;
    border-radius: 10px;
    figure>img {
        width: 100%;
        max-width: 30rem;
        height: 30rem;
    }
    h2 {
        @include title('Lato', sans-serif, $primary, 2rem, 0, 900, none, 0, 0, left);
        @media only screen and (min-width: $tablet) {
            padding-left: 5rem;
        }
    }
    h3 {
        @include title('Lato', sans-serif, rgba($primary, 0.6), 2rem, 0, 400, none, 0.5rem, 0, left);
        @media only screen and (min-width: $tablet) {
            padding-left: 5rem;
        }
    }
    p {
        @include title('Lato', sans-serif, $primary, 1.6rem, 0, 400, none, 1rem, 0, left);
        line-height: 3rem;
        @media only screen and (min-width: $tablet) {
            padding-left: 5rem;
        }
    }
    &__social {
        @media only screen and (min-width: $tablet) {
            margin-left: 5rem;
        }
    }
}