@import "../abstracts/variables";
@import "../abstracts/mixins";
ul li {
    padding: 1rem;
}

.navbar {
    @media only screen and (min-width: $tablet) {
        border-top: solid 8px $primary;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 8rem;
        width: 100%;
        text-align: right;
        z-index: 100;
    }
    ul li {
        list-style: none;
        display: inline-block;
        color: $primary;
        margin: 0;
        padding: 1.5rem 0;
        a {
            margin: 0;
            padding: 4rem 2rem 2rem 2rem;
            font-size: 1.5rem;
            transition: all 0.2s;
            border-radius: 0 0 5px 5px;
        }
        a:hover {
            background-color: rgba($primary, 0.5);
            color: $white;
        }
    }

    &__close {
        display: none;
        @media only screen and (min-width: $tablet) {
            display: block;
        }
    }
}

.main-header {
    position: relative;
    width: 100%;
    height: 60vh;
    @media only screen and (min-width: $tablet) {
        height: 90vh;
    }
    &__hero-image {
        @include hero-image(center);
        background-image: linear-gradient(120deg, rgba($primary, 0.7) 0%, rgba($secondary, 0.5) 100%), url(../img/hero-image-mobile.jpg);
        @media only screen and (min-width: $tablet) {
            background-image: url(../img/hero-image-desktop.jpg);
        }
    }
    &__left-section {
        height: 60vh;
        background-color: rgba($primary, 0.4);
        @media only screen and (min-width: $tablet) {
            position: absolute;
            left: 0;
            top: 0;
            height: 65vh;
            width: 60%;
            background-color: rgba($primary, 0.4);
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%, 0 0);
        }
        &__logo {
            position: absolute;
            @media only screen and (min-width: 0) {
            left: 3rem;
            top: 2rem;
            height: 5rem;
            }
            @media only screen and (min-width: $tablet) {
                left: 50%;
                transform: translateX(-60%);
                top: 15rem;
                height: 20rem;
            }
        }
    }
    &__right-section {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        line-height: 4rem;
        h1::first-line { 
            font-weight: 900;
            @media only screen and (min-width: $tablet) {
                font-weight: 300;
            }
        }
        @media only screen and (min-width: $tablet) {
            left: 60%;
            top: 15rem;
            line-height: 5rem;
            margin-right: 6rem;
            transform: translateX(0);
        }
    }
    &__venue {
        background: rgba($primary, 0.8);
        position: relative;
        padding: 2rem 0;
        .row .col-1-of-2 {
            margin-bottom: 2rem !important;
        }
        @media only screen and (min-width: $tablet) {
            position: absolute;
            height: 25vh;
            top: 65vh;
            width: 100%;
        }
        p {
            @include title('Lato', sans-serif, rgba($white, 0.8), 1.5rem, 0, 300, none, 1rem, 0, left);
            text-transform: uppercase;
            line-height: 0.5rem;
            word-spacing: 0.5rem;
        }
    }
}

.schedule {
    height: 60rem;
}

.footer {
    position: relative;
    color: $light;
    display: flex;
    flex-direction: column;
    font-weight: $font-weight-light;
    font-size: 1.6rem;
    background: $primary;
    color: $white;
    header {
        padding: 6rem;
    }
    footer {
        padding: 2rem 6rem;
        background: #000;
    }
    .header {
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 3rem;
        height: 30rem;
    }
}