.title {
    &--main {
        @include title('Raleway', sans-serif, $primary, 3rem, 0, 300, none, 0.5rem, 0, center);
        @media only screen and (min-width: $tablet) {
            @include title('Raleway', sans-serif, $secondary, 4rem, 0, 300, none, 1rem, 0, right);
        }
        display: inline-block;
    }
    &--main--light {
        @include title('Lato', sans-serif, $white, 2rem, 0, 300, none, 1rem, 0, center);
        text-transform: uppercase;
        word-spacing: .5rem;
        letter-spacing: 0.3rem;
    }
    &--sub {
        margin: auto;
        @include title('Lato', sans-serif, $primary, 2.5rem, 0, 300, none, 1rem, 0, left);
        font-style: italic;
    }
    &--tertiary {
        margin: auto;
        @include title('Lato', sans-serif, rgba($white, 0.8), 2rem, 0, 300, none, 1rem, 0, left);
        @include title('Lato', sans-serif, rgba($white, 0.8), 2rem, 0, 300, none, 1rem, 0, left);
    }
    &--page-h1 {
        @include title('Lato', sans-serif, $primary, 2rem, 0, 700, none, 2rem, 1rem, left);
        text-transform: uppercase;
    }
    &--page-h1--center {
        @include title('Lato', sans-serif, $primary, 2rem, 0, 400, none, 2rem, 0, center);
        text-transform: uppercase;
    }
    &--page-h1--center--white {
        @include title('Lato', sans-serif, $white, 3rem, 0, 300, none, 2rem, 0, center);
    }
    &--page-h2 {
        @include title('Lato', sans-serif, $white, 1.5rem, 0, 700, none, 2rem, 0, left);
        text-transform: uppercase;
    }
    &--page-h1--light-center {
        @include title('Lato', sans-serif, $white, 2rem, 0, 400, none, 1rem, 0, center);
    }
    &--page-h3 {
        @include title('Lato', sans-serif, rgba($white, 0.8), 1.5rem, 0, 300, none, 1rem, 0, left);
        text-transform: uppercase;
        word-spacing: 1rem;
    }
}