.title {
    &--main {
        @include title('Raleway', sans-serif, $white, 3rem, 0, 300, none, 2rem, 0, center);
        @media only screen and (min-width: $tablet) {
            @include title('Raleway', sans-serif, $secondary, 4rem, 0, 300, none, 2rem, 0, right);
        }
        display: inline-block;
        border-bottom: solid 2px $secondary;
    }
    &--secondary {
        @include title('Lato', sans-serif, $white, 2rem, 0, 300, none, 1rem, 0, center);
        @media only screen and (min-width: $tablet) {
            @include title('Lato', sans-serif, $secondary, 2rem, 0, 700, none, 1rem, 0, right);
        }
        text-transform: uppercase;
        word-spacing: 0.5rem;
    }
    &--secondary--white {
        @include title('Lato', sans-serif, $white, 2rem, 0, 300, none, 1rem, 0, center);
        @media only screen and (min-width: $tablet) {
            @include title('Lato', sans-serif, $white, 2rem, 0, 700, none, 1rem, 0, right);
        }
        text-transform: uppercase;
        word-spacing: 0.5rem;
    }
    &--tertiary {
        margin: auto;
        @include title('Lato', sans-serif, rgba($white, 0.8), 2rem, 0, 300, none, 1rem, 0, left);
    }
    &--page-h1 {
        @include title('Lato', sans-serif, $primary, 2rem, 0, 700, none, 2rem, 1rem, left);
        text-transform: uppercase;
    }
    &--page-h1--center {
        @include title('Lato', sans-serif, $primary, 2rem, 0, 400, none, 2rem, 0, center);
        text-transform: uppercase;
    }
    &--page-h1--center--white {
        @include title('Lato', sans-serif, $white, 3rem, 0, 300, none, 2rem, 0, center);
    }
    &--page-h2 {
        @include title('Lato', sans-serif, $secondary, 1.5rem, 0, 700, none, 2rem, 0, left);
        text-transform: uppercase;
    }
    &--page-h1--light-center {
        @include title('Lato', sans-serif, $secondary, 2rem, 0, 400, none, 1rem, 0, center);
    }
    &--page-h3 {
        @include title('Lato', sans-serif, rgba($white, 0.8), 1.5rem, 0, 300, none, 1rem, 0, left);
        text-transform: uppercase;
        word-spacing: 1rem;
    }
}