.medal {
    &__genesis {
        padding: 8rem 6rem 2rem 6rem;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        @media only screen and (min-width: $tablet) {
            max-width: 70rem;
        }
        h2 {
            @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, left);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        p {
            padding-bottom: 3rem;
        }
        a {
            &,
            :link,
            :visited,
            :active,
            :focus {
                color: $secondary;
            }
        }
    }
    &__background {
        padding: 2rem 6rem;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        @media only screen and (min-width: $tablet) {
            max-width: 70rem;
        }
        h2 {
            @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, left);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        p {
            padding-bottom: 3rem;
        }
    }
    &__selection {
        padding: 2rem 6rem;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        @media only screen and (min-width: $tablet) {
            max-width: 70rem;
        }
        h2 {
            @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, left);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        p {
            padding-bottom: 3rem;
        }
    }
    &__criteria {
        padding: 2rem 6rem;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        @media only screen and (min-width: $tablet) {
            max-width: 70rem;
        }
        h2 {
            @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, left);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        h3 {
            @include title('Lato', sans-serif, $primary, 1.6rem, 0, 900, none, 2rem, 0, left);
        }
        p {
            padding-bottom: 3rem;
        }
        ul li {
            @include title('Lato', sans-serif, $primary, 1.6rem, 0, 400, none, 1rem, 5rem, left);
            padding: 1.5rem;
            background-image: url('../img/check.png');
            background-repeat: no-repeat;
            padding-left: 5rem;
            padding-top: 0rem;
        }
    
        ul {
            vertical-align: middle;
            list-style: none;
            padding: 1rem 1rem 4rem 1rem;
        }
    }


}