.side-content {
    &__nav-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        height: 8rem;
        width: 100%;
        background-color: $secondary;
    }
    &__menu {
        padding-top: 5rem;
        @media only screen and (min-width: $tablet) {
            position: fixed;
            top: 10rem;
            left: 0;
            bottom: 100vh;
            width: 24%;
            padding-top: inherit;
        }
    }
    padding-bottom: 5rem;
    h2 {
        @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, center);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: auto;
        margin-top: 2rem;
    }
    a {
        display: block;
        margin: auto;
        //background-color: #212225;
        //color: $light;
        color: $primary;
        padding: .5rem 2rem;
        margin: .5rem 2rem;
        transition: all 0.5s;
        position: relative;
        //background: linear-gradient(to right, $secondary 34%, #212225 65%);
        //background-size: 300% 100%;
        //background-position:right bottom;
        &:hover {
            //background-position:left bottom;
            color: $secondary;
        }
        
    }

    &__selected-border {
        //border-left: solid 8px $secondary!important;
        font-weight: 900;
    }
}