.award-def {
    background-color: $light;
    padding: 5rem 3rem 9rem 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 2rem;
    border-radius: 1rem;
    @media only screen and (min-width: $laptop) {
        max-width: 100rem;
        margin: 5rem auto;
    }

    border-top: solid $light 5px;

    &__icon {
        margin: 2rem auto;
        height: 10rem;
    }

    &__definition {
        @include title('Lato', sans-serif, $primary, 1.6rem, 0, 400, none, 2rem, 0, center);
        margin: auto;
        max-width: 95%;
    
        @media only screen and (min-width: $tablet) {
            max-width: 70%;
        }
        @media only screen and (min-width: $laptop) {
            max-width: 60rem;
        }
    }
}

.bg {
    background-color: #eeeaea;
}

.body-bg {
    background-color: $white;
}