.award-history {
    margin: 0;
    padding: 4rem 1.5rem;
    background: $white;
    @media only screen and (min-width: $desktop) {
        padding: 5rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__container {
        //border: solid 1px $secondary;
        //border-top: solid 10px $secondary;
        border-radius: 1rem;
        position: relative;
        background: $light;
        padding: 4rem;        
        @media only screen and (min-width: $laptop) {
        max-width: 100rem;
        padding: 7rem;
        }
        h2 {
            @include title('Lato', sans-serif, $secondary, 1.6rem, 0, 900, none, 4rem, 0, left);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        h3 {
            @include title('Lato', sans-serif, $primary, 1.6rem, 0, 900, none, 2rem, 0, left);
        }
        p {
            padding: 1rem;
        }
    }
}