.award-quotes {
    padding: 5rem 3rem 9rem 3rem;
    background: $white;
    line-height: 3rem;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;

    @media only screen and (min-width: $tablet) {
        max-width: 70%;
    }

    @media only screen and (min-width: $laptop) {
        max-width: 60rem;
    }

    &__icon {
        margin: 2rem auto;
        height: 10rem;
    }

    &__quote {
        @include title('Lato', sans-serif, $primary, 2.5rem, 0, 300, none, 2rem, 0, center);
        letter-spacing: .1rem;
        //word-spacing: .5rem;
    }
    &__author {
        margin-top: 3rem;
        @include title('Lato', sans-serif, $primary, 1.5rem, 0, 700, none, 0rem, 0, center);
    }
}